# Development (build and documentation)
setuptools>=67.0.0

# Development/Deployment
# Cantera
fastexcel  # Used by polars to read excel
# fsspec
matplotlib
numpy
pandas
periodictable
polars
pytest
# python-metar
pyvista[jupyter]
pyyaml
requests
scipy
# sectionproperties
# sympy

# Optional
notebook
# windrose
# cartopy
