# Development (build and documentation)
setuptools>=67.0.0
wheel  # To install .whl files

# Development/Deployment
# --extra-index-url https://pip.ccdc.cam.ac.uk/
# csd-python-api   # While available for python 3.11, does not want to install...

# Cantera
fastexcel  # Used by polars to read excel
# fsspec
matplotlib
networkx
numpy
pandas
periodictable
polars
pytest
# python-metar
pyvista[jupyter]
pyyaml
requests
scipy
# sectionproperties
# sympy

# Optional
notebook
# windrose
# cartopy
