# Development (build and documentation)
setuptools>=67.0.0

# Development/Deployment
fsspec
matplotlib
numpy
openpyxl
pandas
periodictable
pytest
python-metar
pyyaml
requests
scipy
sectionproperties
sympy

# Optional
jupyter
notebook